<!DOCTYPE html>
<html lang="de-DE">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"
  >
  <title>{% block title %}My Plants{% endblock %}</title>
  <link rel="stylesheet" href="./css_Styles.css">
  
</head>
<body>

    <div class="navbar">
      <a href="#">Start</a>
      <a href="#">Über mich</a>
      <a href="#">Kontakt</a>
    </div>
 
<button id="showDate">Wait to Click me to display Date an Time</button>
<p id="demo"></p>

<script src="./First_JScript.js"></script>


  <nav class="navbar">
    <img src="WeedAnimation.jpeg" alt="My biggest Love" style="height: 100px; width: 200px;">
    <a href="#home">Startseite</a>
    <a href="#about">Über uns</a>
    <a href="#services">Dienstleistungen</a>
    <a href="#contact">Kontakt</a>
  </nav>
</body>  
  <main></main>
</html>