{% extends "base.html" %} {% block title %}Home{% endblock %}

 {% block content %}
 <h1>Willkommen bei My Plants</h1>
 {% endblock %}

 {% block quote %}
 <h2>Schön, dass du da bist!</h2>
 <img src= "{{ url_for('static', filename='Unbenannt34.png') }}" alt="Disconchita Kush" width="480" height="480" title="I am Disconchita Kush"
    >
     <p>
      <sub>Auf dieser Seite <br> zeige ich dir <br> mein Weed-Abenteuer.</sub>
    </p>
    
  <hr>

    <p>Doch Zuerst ein Zitat von <em> Jack Herer:</em></p>
    </div>

    <div class="blockquote">
    <blockquote cite="https://www.azquotes.com/quote/130603?ref=cannabis">
      <q>Growing hemp as nature designed it is vital <br> to our urgent need to reduce greenhouse gases and ensure the survival of our planet.
      </q>
    </blockquote>
    </div>
 {% endblock %}