html, body {      /*footer sticks to bottom of viewport*/
   height: 100%;
}

body {
  display: grid;
  margin: 0 auto; /* Center the content */
  gap: 20px; /* spacing between body children */
  width: 100%;
  background-color: rgb(79, 21, 134);
  margin: 0;
  font-family: Arial, sans-serif;
  grid-template-rows: 1fr auto; /*footer sticks to bottom of viewport*/
    }

    .button_special {
      display: flex;
      width: fit-content;
      background-color: darkgreen;
      border-color: rgb(79, 21, 134);
      color: rgb(7, 7, 7);
  
    }
    .alert_button_error {
      width: fit-content;
      animation: fade 4s infinite;
      background-color: rgb(106, 0, 0);
      color: rgb(255, 255, 255);
    }

     .alert_button_success {
      width: fit-content;
      animation: fade 4s infinite;
      background-color: darkgreen;
      color: rgb(255, 255, 255);
    }
    .button_click {
      border-color: rgb(79, 21, 134);
      background-color: goldenrod;
      color: darkgreen;
    }

     h1 {
      display: flex;
      width: 100;
      color: darkgreen;
      font-family: 'Franklin Gothic Medium';
      background-color: goldenrod;
      padding: 10px;
     }
    
    h2 {
      color: darkgreen;
      font-family: 'Franklin Gothic Medium', sans-serif;
      margin-left: 20px;
    }

    p {
      display: flex;
      width: 50%;
      color: rgba(0, 7, 0, 0.877);
      font-family: Impact, 'Arial Narrow Bold', sans-serif;
      font-size: x-large;
      margin-left: 15px;
    }

    pre {
      color: goldenrod;
      font-style: italic;
      margin-left: 20px;
    }

     blockquote {
      display: flex;
      width: 50%;
      color: aliceblue;
      font-style: initial;
    }

      .navbar {
      position: fixed;
      top: 0;
      right: 0;
      height: 100%;
      width: 15%;
      background-color: darkgreen;
      display: flex;
      flex-direction: column;
    
      padding-top: 0px;
    }

    .navbar a {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      color: white;
      padding: 10px 15px;
      text-align: left;
      width: 100%;
      transition: background-color 0.3s;
    }

    .navbar a:hover {
      align-self: flex-start;
      display: flex;
      flex-direction: column;
      background-color: goldenrod;
      width: 100%;
    }
    

    .box {
      position: fixed;
      flex-direction: column;
      bottom: 20px;              
      right: 120px;                 
      transform: translateX(-50%); 
      background-color: rgba(3, 2, 0, 0);
      text-align: center;
      line-height: 100px;
      font-size: 20px;
      border-radius: 0%;
      animation: fade 4s infinite;
      display: flex;
      justify-content: center;
      align-items: center;
            }

      @keyframes fade {
      0% { opacity: 1; }
      50% { opacity: 0.3; }
      100% { opacity: 1; }
        }
    
    .form-group {
      display: flex;
      flex-direction: column;
      width: fit-content;
      margin-bottom: 15px;
      align-self: flex-end;
    }
      
    footer {
      display: flex;
      width: 100%;
      background-color: rgb(0, 0, 0);
      color: forestgreen;
 }

    li {
      color: rgb(255, 255, 255);
    }
    