 body {
      background-color: rgb(79, 21, 134);
      margin: 0;
      font-family: Arial, sans-serif;
    }

    .button_special {
      background-color: lawngreen;
      color: black;
  
    }
    .button_normal_error {
      background-color: red;
      color: black;
    }

     .button_normal_success {
      background-color: darkgreen;
      color: black;
    }

    h1 {
      color: darkgreen;
      font-family: 'Franklin Gothic Medium';
      background-color: goldenrod;
      padding: 10px;
    }
    
    h2 {
      color: green;
      font-family: 'Franklin Gothic Medium', sans-serif;
      margin-left: 20px;
    }

    p {
      color: rgba(0, 7, 0, 0.877);
      font-family: Impact, 'Arial Narrow Bold', sans-serif;
      margin-left: 15px;
    }

    pre {
      color: goldenrod;
      font-style: italic;
      margin-left: 20px;
    }

    blockquote {
      color: aliceblue;
      font-style: initial;
    }

     .navbar {
      position: fixed;
      top: 0;
      right: 0;
      height: 100%;
      width: 200px;
      background-color: darkgreen;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 0px;
    }

    .navbar a {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      color: white;
      padding: 10px 15px;
      text-align: center;
      width: 100%;
      transition: background-color 0.3s;
    }

    .navbar a:hover {
      display: flex;
      background-color: goldenrod;
      width: 100%;
    }

    

    .box {
      position: fixed;
      flex-direction: column;
      bottom: 20px;              
      right: 120px;                 
      transform: translateX(-50%); 
      background-color: rgba(3, 2, 0, 0);
      text-align: center;
      line-height: 100px;
      font-size: 20px;
      border-radius: 0%;
      animation: fade 4s infinite;
      display: flex;
      justify-content: center;
      align-items: center;
            }

      @keyframes fade {
      0% { opacity: 1; }
      50% { opacity: 0.3; }
      100% { opacity: 1; }
        }
    
    .formgroup {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 15px;
      align-self: right;
    }
      
    footer {
      background-color: rgb(0, 0, 0);
      color: forestgreen;
 }